
# BEGIN WordPress
# ההוראות (שורות) בין "BEGIN WordPress" לבין "END WordPress" הן
# נוצר באופן דינמי, ויש לשנות אותן רק באמצעות פילטרים של וורדפרס.
# כל שינוי בהוראות בין סממנים אלה ידרס.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /amos-wp/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /amos-wp/index.php [L]
</IfModule>

# END WordPress