//Convert px to rem:

@function rem($px-rem) {
    @return ($px-rem * 1rem) / 19.2px;
}

@function remMob($px-rem) {
    @return ($px-rem * 1rem) / 8px;
}

//Fonts:

@font-face {
    font-family: "heebo";
    font-weight: 400;
    src: url("../fonts/Heebo-Regular.ttf");
}
@font-face {
    font-family: "heebo";
    font-weight: 500;
    src: url("../fonts/Heebo-Medium.ttf");
}
@font-face {
    font-family: "heebo";
    font-weight: 700;
    src: url("../fonts/Heebo-Bold.ttf");
}
@font-face {
    font-family: "heebo";
    font-weight: 800;
    src: url("../fonts/Heebo-ExtraBold.ttf");
}
@font-face {
    font-family: "heebo";
    font-weight: 900;
    src: url("../fonts/Heebo-Black.ttf");
}

@font-face {
    font-family: "rubik";
    font-weight: 400;
    src: url("../fonts/Rubik-Regular.ttf");
}

//Variables:
$mobile-breakpoint: 1024px;
// $blue: #4682b4;
$blue: #6fbbd1;

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 1vw;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    direction: rtl;
}

html,
body,
input,
button {
    font-family: "heebo", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-weight: 400;
}

a {
    color: inherit;
}

.overflow-hidden {
    overflow: hidden;
}

/*******************/
/*     SHADOW     */
/*******************/
.shadow::after {
    content: "";
    background: linear-gradient(#00000014, #0000000d, #00000000);
    width: 100%;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    transition: 0.3s;
    pointer-events: none;
}

.shadow {
    position: relative;
    transition: 0.3s;
}

/*******************/
/*  NAV - HEADER   */
/*******************/
.hero-home {
    z-index: 3;
    overflow-x: hidden;
}

.custom-menu-class {
    position: absolute;
    z-index: 100;
    right: 20vw;
    top: 1vw;

    @media (max-width: 1024px) {
        right: 0vw;
        top: 0vw;
        background: #b6d5df;
        padding-left: 9vw;
        padding-bottom: 9vw;
        display: none;
        width: 100%;
    }
}

.open-nav {
    #navbar {
        @media (max-width: 1024px) {
            height: 117vw !important;
        }
    }

    .custom-menu-class {
        @media (max-width: 1024px) {
            display: block;
        }
    }
}

ul.menu {
    width: 100%;
    margin: auto;
    padding-top: 1vw;
    padding-bottom: 2vw;

    @media (max-width: 1024px) {
        padding-top: 25vw;
        // padding-left: 12vw;
    }
}

li.menu-item {
    display: inline-block;
    margin-right: 5vw;
}

li.menu-item {
    a {
        text-decoration: none;
        color: #fff;
        font-size: 1.1vw;

        @media (max-width: 1024px) {
            font-size: 6vw;
        }
    }
}

li.menu-item a:hover {
    text-decoration: overline;
    transition-duration: 0.5s;
}

li.current-menu-item a {
    text-decoration: overline;
}

.logo-nav {
    position: absolute;
    z-index: 100;
    right: 5vw;
    width: 10vw;
    top: 1vw;
    background: #ffffee3d;
    border-radius: 1vw;
    padding: 0.4vw;

    @media (max-width: $mobile-breakpoint) {
        right: auto;
        width: 31vw;
        top: 2vw;
        left: 4vw;
        z-index: 1000;
    }

    img {
        width: 100%;
    }
}

//NAVBAR - STICKY
/* Style the navbar */
#navbar {
    overflow: hidden;
    // background-color: rgb(182, 213, 223);
    background-image: linear-gradient(180deg, #b6d5df, #fff);
    color: #0c1f2e;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6.5vw !important;
    z-index: 99;

    @media (max-width: $mobile-breakpoint) {
        height: 16.5vw !important;
        // background-color: rgb(182, 213, 223);
    }

    ul {
        li {
            float: left;
            display: block;
            text-align: center;
            padding: 14px;
            text-decoration: none;

            @media (max-width: 1024px) {
                float: none;
                text-align: right;
            }

            a {
                color: #0a2438;
            }
        }
    }
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    // box-shadow: 0px 0px 9px 5px #b6d5df;
    box-shadow: 0px 0px 4px 5px #fff;
    // transition: 0.3s;

    ul li a {
        color: #0a2438;
        // font-weight: 600;
    }
}

.home {
    #navbar {
        background: transparent;

        ul {
            li {
                a {
                    color: #fff;

                    @media (max-width: $mobile-breakpoint) {
                        color: #0a2438;
                    }
                }
            }
        }

        &.sticky {
            // background-color: rgb(182, 213, 223);
            background-image: linear-gradient(180deg, #b6d5df, #fff);

            ul {
                li {
                    a {
                        color: #0a2438;
                    }
                }
            }
        }
    }
}

// SLIDER - HOME
.swiper-home {
    width: 100vw;
    height: 50.8rem;
    overflow: hidden;

    @media (max-width: $mobile-breakpoint) {
        height: 158.8rem;
    }

    .swiper-slide {
        @media (max-width: $mobile-breakpoint) {
            height: 100%;
        }
        picture {
            img {
                width: 100%;

                @media (max-width: $mobile-breakpoint) {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        background: var(--swiper-pagination-color, var(--swiper-theme-color));
        background: #fff;
    }

    .swiper-pagination-bullet {
        width: 0.7vw;
        height: 0.7vw;

        @media (max-width: $mobile-breakpoint) {
            width: 2.5vw;
            height: 2.5vw;
        }
    }

    &.swiper-container-horizontal {
        > .swiper-pagination-bullets {
            bottom: 42px;
            right: 0;
            width: 20%;
        }

        .swiper-pagination-custom {
            bottom: 42px;
            right: 0;
            width: 20%;
        }

        .swiper-pagination-fraction {
            bottom: 42px;
            right: 0;
            width: 20%;
        }
    }
}

.swiper-customers {
    width: 75%;
    height: 100%;
    margin: auto;
    margin-top: 8vw;
    overflow: visible;
    position: relative;

    @media (max-width: 1024px) {
        margin-top: 6vw;
        // overflow: visible;
    }

    .swiper-wrapper {
        margin-top: 5rem;
        margin-bottom: 8vw;
    }

    .swiper-slide {
        border-radius: 0.3rem;
        box-shadow: 0 0 6px 1px #b6d5df9e;
        margin-bottom: 3vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        border-radius: 1.5vw;

        @media (max-width: 1024px) {
            padding-top: 7vw;
            padding-bottom: 7vw;
        }

        .name {
            font-size: 1.7rem;

            @media (max-width: 1024px) {
                font-size: 4rem;
            }
        }

        .from {
            font-size: 80%;
            margin-top: 1.2vw;

            @media (max-width: 1024px) {
                font-size: 310%;
                margin-top: 3vw;
            }
        }

        .desc {
            font-size: 1rem;
            width: 83%;
            margin: auto;
            margin-top: 1vw;

            @media (max-width: 1024px) {
                font-size: 3.4rem;
                margin-top: 4vw;
                width: 75%;
            }
        }

        .rate {
            margin-top: 1.5vw;

            @media (max-width: 1024px) {
                margin-top: 4vw;
            }

            .fa-star {
                color: #b2b2b2b6;

                @media (max-width: $mobile-breakpoint) {
                    font-size: 4vw;
                }

                &.checked {
                    color: orange;
                }
            }
        }

        &.swiper-slide-next {
            -webkit-transform: scale(1.22);
            -moz-transform: scale(1.22);
            transform: scale(1.22);
            transition: 0.6s all;
        }
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        // color: #4682b4;
        color: $blue;
        font-weight: 800;
        font-size: 2vw;

        @media (max-width: $mobile-breakpoint) {
            font-size: 4vw;
        }
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        background: #4682b4;
    }

    .swiper-pagination-bullet {
        width: 0.5vw;
        height: 0.54vw;

        @media (max-width: $mobile-breakpoint) {
            width: 1.5vw;
            height: 1.52vw;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 41%;
    }

    .swiper-button-prev {
        right: -4.5vw;

        @media (max-width: $mobile-breakpoint) {
            right: -9vw;
            left: auto;
        }
    }

    .swiper-button-next {
        left: -4.5vw;

        @media (max-width: $mobile-breakpoint) {
            left: -10vw;
            right: auto;
        }
    }

    .swiper-pagination-bullets {
        bottom: -4vw;

        @media (max-width: $mobile-breakpoint) {
            bottom: -6vw;
        }
    }
}

/////////////////////

.header-hero {
    position: absolute;
    z-index: 4;
    top: 18vw;
    right: 30vw;
    width: 38vw;
    text-align: center;
    font-size: 2vw;
    color: #fef9e7;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    font-family: "rubik";
    font-weight: 400;

    @media (max-width: 1024px) {
        top: 35vw;
        right: 15vw;
        width: 70vw;
        font-size: 6vw;
    }
}

.arrow-more {
    position: absolute;
    z-index: 4;
    width: 4vw;
    top: 42vw;
    left: 47vw;

    @media (max-width: 1024px) {
        width: 20vw;
        top: 128vw;
        left: 40vw;
    }

    a {
        color: #fff;
        text-decoration: none;
        font-size: 1.2vw;
        display: inline-block;
        text-align: center;
        width: 4vw;
        font-weight: 600;

        @media (max-width: 1024px) {
            width: auto;
            font-size: 5vw;
        }

        img {
            width: 100%;

            @media (max-width: 1024px) {
                width: 70%;
            }
        }
    }
}

/*********************/
/*     HOME PAGE     */
/*********************/

.section-1,
.section-2,
.section-3 {
    text-align: center;
    padding-top: 6vw;
    padding-bottom: 8vw;

    @media (max-width: $mobile-breakpoint) {
        padding-top: 11vw;
        padding-bottom: 11vw;
    }
}

.section-3 {
    overflow: hidden;
}

.top-area {

    h1 {
        font-size: 2.5rem;
        color: $blue;
        font-family: "rubik";

        @media (max-width: 1024px) {
            font-size: 7rem;
        }
    }

    .desc {
        font-size: inherit;
    }
   
}

.section-1 {
    .top-area {
        @media (max-width: 1024px) {
            font-size: 4rem;
            width: 80%;
            margin: auto;
        }
    }

    p {
        @media (max-width: 1024px) {
            padding-top: 3vw;
            padding-bottom: 1vw;
        }
    }
}


.container-blocks {
    width: 82vw;
    margin: auto;
    display: flex;
    margin-top: 4vw;
    flex-wrap: wrap;
}

.item {
    width: 27%;
    padding: 1vw;
    text-align: right;
    background-color: antiquewhite;
    margin-bottom: 3vw;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #000000b3;
    border-radius: 2vw;
    box-shadow: 0 0 6px 2px #0000003b;
    transition: 0.5s;

    @media (max-width: 1024px) {
        width: 100%;
        padding: 2vw;
        margin-bottom: 7vw;
        margin-right: 1.5vw;
        margin-left: 1.5vw;
    }

    h2 {
        padding-top: 1vw;
        font-size: 2vw;
        font-family: "rubik";

        @media (max-width: 1024px) {
            font-size: 5vw;
        }
    }

    .text {
        padding-top: 1vw;
        padding-bottom: 1vw;
        width: 90%;
        font-size: 1.1vw;
        font-weight: 500;

        @media (max-width: 1024px) {
            padding-top: 5vw;
            padding-bottom: 1vw;
            font-size: 4.1vw;
            line-height: 1.2;
        }
    }

    .link {
        margin-right: 14vw;
        margin-top: 1vw;

        @media (max-width: 1024px) {
            margin-right: 50vw;
            margin-top: 5vw;
        }

        a {
            text-decoration: none;
            font-size: 1.3vw;
            font-weight: 500;

            @media (max-width: 1024px) {
                font-size: 4vw;
            }
        }
    }
}

.item:hover {
    background-size: 150% 150%;
    transition: 0.5s;
}

.parallax {
    /* The image used */
    background-image: url("../img/temp/water.jpg");

    /* Set a specific height */
    // min-height: 500px;
    min-height: 25rem;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @media (max-width: $mobile-breakpoint) {
        min-height: 47rem;
    }

    video {
        width: 100%;
        min-height: 500px;
    }
}

.adv-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 65vw;
    margin: auto;
    margin-top: 4rem;

    .adv-item {
        text-align: center;

        .adv-img {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .adv-text {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
}

.parallax-2 {
    background-image: url("../img/temp/paralax-1.jpg");
    background-size: cover;
    background-position: center -13rem;
    background-attachment: initial;

    @media (max-width: $mobile-breakpoint) {
        background-position: center -9rem;
    }
}

/**  FOOTER  **/
footer {
    // background-image: url("../img/temp/footer-2.jpg");
    background-image: linear-gradient(180deg, #fff, #98d2e4);
    padding-top: 5rem;
    padding-bottom: 8rem;
    background-size: 100% auto;
    background-position: top;

    @media (max-width: $mobile-breakpoint) {
        padding-top: 9rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        min-height: 65rem;
    }

    h1 {
        text-align: center;
        // color: #5c2810;
        font-weight: bold;
        font-size: 3rem;
        font-family: "rubik";

        @media (max-width: $mobile-breakpoint) {
            font-size: 7rem;
        }
    }

    .details {
        text-align: center;
        margin: auto;
        margin-top: 2rem;
        font-family: "rubik";
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 2;
        width: 16vw;

        @media (max-width: $mobile-breakpoint) {
            font-size: 5rem;
            line-height: 1.7;
            width: 75vw;
            margin-top: 11rem;
        }

        a {
            text-decoration: none;
        }
    }

    .social-container {
        text-align: center;
        width: 19vw;
        margin: auto;
        margin-top: 3rem;
        display: flex;
        justify-content: space-around;

        @media (max-width: 1024px) {
            width: 60vw;
            margin-top: 13rem;
        }

        .social-item {
            display: inline-block;
            width: 14%;

            @media (max-width: 1024px) {
                width: 16%;
            }

            img {
                width: 100%;
                border-radius: 3vw;
            }
        }
    }
}

/******************************/
/***     CATEGORY PAGE     ***/
/****************************/

.hero-tax {
    height: 30rem;

    @media (max-width: $mobile-breakpoint) {
        height: 80rem;
    }

    .content-div {
        position: absolute;
        z-index: 3;
        width: 61%;
        right: 9vw;
        top: 17vw;
        font-size: 3.5rem;

        @media (max-width: $mobile-breakpoint) {
            width: 80%;
            right: 10vw;
            top: 40vw;
            font-size: 10rem;
            text-align: center;
        }

        h1 {
            font-size: 100%;
        }

        .desc {
            font-size: 45%;
            margin-top: 1vw;

            @media (max-width: $mobile-breakpoint) {
                font-size: 47%;
            }
        }
    }
}

.img-bg {
    position: relative;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.list-items {
    display: flex;
    flex-direction: column;
    width: 62%;
    margin: auto;
    margin-top: 6vw;
    margin-bottom: 3vw;

    @media (max-width: $mobile-breakpoint) {
        width: 82%;
        margin-top: 7vw;
    }

    .item-box {
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-radius: 2vw;
        background: #e1f4ffad;
        overflow: hidden;
        margin-bottom: 2.5vw;
        cursor: pointer;
        font-size: 2rem;
        text-decoration: none;

        @media (max-width: $mobile-breakpoint) {
            flex-direction: column;
            font-size: 6rem;
            margin-bottom: 10vw;
        }

        .info-div {
            padding: 2vw;
            width: 65%;

            @media (max-width: $mobile-breakpoint) {
                padding: 6vw;
                box-sizing: border-box;
                width: 100%;
            }

            h1 {
                font-size: 100%;
            }

            .text {
                font-size: 63%;
                margin-top: 1vw;

                .amount {
                    font-size: 100%;
                }
            }
        }

        .img-div {
            width: 35%;

            @media (max-width: $mobile-breakpoint) {
                max-height: 52rem;
                width: 100%;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .anchor {
            font-size: 69%;
            margin-top: 3vw;
            font-weight: 500;
        }

        &:hover {
            transform: scale(1.05);
            transition: 0.5s all;
        }
    }
}

.content-after-sticky {
    margin-top: 6vw;

    @media (max-width: $mobile-breakpoint) {
        margin-top: 16vw;
    }
}

///////////////////////////////////////////////////////////

#nav-icon4 {
    display: none;

    @media (max-width: $mobile-breakpoint) {
        display: block;
        width: 42px;
        height: 45px;
        position: absolute;
        right: 4vw;
        top: 4vw;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        z-index: 9999;
    }
}

// #nav-icon4 {

// }

#nav-icon4 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #0a2438;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.page-template-front-page #nav-icon4 span {
    background: #fff;
}

.sticky-nav {
    #nav-icon4 span {
        background: #0a2438;
    }
    .page-template-front-page #nav-icon4 span {
        background: #0a2438;
    }
}

.open-nav {
    #nav-icon4 {
        span {
            background: #0a2438;
        }
    }
}

/* Icon 4 */

#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
    top: 15px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
    top: 30px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 30px;
    left: 8px;
}

// PAGE - SINGLE POST
.hero-single {
    text-align: center;
    font-size: 3vw;
    height: 24rem;
    background-image: url("../img/temp/slider-hero-1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;

    @media (max-width: $mobile-breakpoint) {
        height: 53rem;
        background-image: url(../img/temp/slider-hero-1.jpg);
        background-size: cover;
    }

    .title-hero {
        padding-top: 7vw;
        color: #fff;
        font-family: "rubik";
        font-size: 4.5rem;
        z-index: 99;
        position: absolute;
        width: 80%;
        right: 10%;

        @media (max-width: $mobile-breakpoint) {
            padding-top: 12vw;
            font-size: 12rem;
        }

        h1 {
            font-size: 100%;
        }

        h2 {
            font-size: 45%;
            margin-top: 1vw;

            @media (max-width: $mobile-breakpoint) {
                margin-top: 3vw;
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(#0000009c, transparent);
    }
}

.section-info {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 4vw;

    @media (max-width: $mobile-breakpoint) {
        flex-direction: column;
        justify-content: unset;
        margin-top: 7vw;
    }

    .info-div {
        width: 55%;
        box-sizing: border-box;

        @media (max-width: $mobile-breakpoint) {
            width: 100%;
            font-size: 4rem;
        }

        .text {
            margin-top: 1vw;

            @media (max-width: $mobile-breakpoint) {
                margin-top: 4vw;
            }
        }
    }

    .location-div {
        width: 38%;

        @media (max-width: $mobile-breakpoint) {
            width: 100%;
            overflow: hidden;
        }
    }
}

.contact-a {
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
    display: block;
    margin-top: 1vw;
    background: #b6d5df;
    border-radius: 1vw;
    width: 15vw;
    height: 3vw;
    line-height: 3.1vw;
    margin-top: 1vw;

    @media (max-width: $mobile-breakpoint) {
        margin: auto;
        text-decoration: none;
        font-size: 6rem;
        text-align: center;
        display: block;
        margin-top: 5vw;
        margin-bottom: 12vw;
        background: #b6d5df;
        border-radius: 3vw;
        width: 62vw;
        height: 9vw;
        line-height: 9vw;
    }
}

.services {
    margin-top: 2vw;

    @media (max-width: $mobile-breakpoint) {
        margin-top: 7vw;
    }

    .service {
        display: inline-flex;
        margin-left: 1vw;
        margin-bottom: 0.8vw;

        @media (max-width: $mobile-breakpoint) {
            margin-left: 4vw;
            margin-bottom: 2vw;
        }

        .icon {
            width: 1.5vw;

            @media (max-width: $mobile-breakpoint) {
                width: 5vw;
            }

            img {
                width: 100%;
            }
        }

        .title {
            align-self: center;
            margin-right: 0.5vw;

            @media (max-width: $mobile-breakpoint) {
                margin-right: 2vw;
            }
        }
    }
}

iframe#gmap_canvas {
    @media (max-width: $mobile-breakpoint) {
        width: 80vw !important;
    }
}

.section-gallery {
    margin: auto;
    margin-top: 7vw;
    overflow: hidden;
    padding-bottom: 7vw;

    @media (max-width: $mobile-breakpoint) {
        margin-top: 14vw;
    }

    h2 {
        font-size: 2.7rem;
        text-align: center;
        margin-bottom: 2.2vw;
        color: $blue;
        font-family: "rubik";

        @media (max-width: $mobile-breakpoint) {
            font-size: 7rem;
        }
    }
}

.bg-gallery {

    .close-gallery-btn {
        color: #6fbbd1;
        background: transparent;
        font-size: 3vw;
        position: absolute;
        right: 4vw;
        top: 1vw;
        font-family: 'rubik';
        cursor: pointer;
        display: none;
    }

    &.full-screen {
        position: fixed;
        background: #000;
        z-index: 999;
        top: 0vw;
        right: 0;
        width: 100%;
        height: 104%;

        .close-gallery-btn {
            display: block;
        }

        .section-gallery {
            position: relative;
            margin-top: 5vw;

            h2 {
                display: none;
            }

            .gallery-house {
                .swiper-slide {
                    img {
                        width: 75%;
                    }
                }

                .swiper-pagination-bullet {
                    background-color: #fff;
                    opacity: 0.5;

                    &.swiper-pagination-bullet-active {
                        background: #6fbbd1;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

// swiper - gallery house
.gallery-house {
    width: 80%;
    margin: auto;
    overflow: visible;
    position: relative;

    @media (max-width: $mobile-breakpoint) {
        width: 100%;
        margin: auto;
        overflow: visible;
    }

    .swiper-slide {
        text-align: center;

        img {
            width: 55%;
            transition: 0.3s ease all;

            @media (max-width: $mobile-breakpoint) {
                width: 100%;
            }

            &:hover {
                transform: scale(1.05);
                transition: 0.3s ease all;
                cursor: pointer;
            }
        }
    }

    .swiper-pagination-bullets {
        bottom: -4vw;

        @media (max-width: $mobile-breakpoint) {
            bottom: -7vw;
        }
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        color: $blue;

        @media (max-width: $mobile-breakpoint) {
            font-size: 7rem;
        }
    }

    .swiper-button-next {
        left: 0;
    }

    .swiper-button-prev {
        right: 0;
    }

    .swiper-pagination-bullet-active {
        background: $blue;
    }
}

// FORM SECTION
.section-form {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 7vw;
    padding-bottom: 2vw;

    @media (max-width: $mobile-breakpoint) {
        width: 90%;
        padding-bottom: 14vw;
    }

    h2 {
        font-size: 2.7rem;
        text-align: center;
        margin-bottom: 2.2vw;
        color: #6fbbd1;
        font-family: "rubik";

        @media (max-width: $mobile-breakpoint) {
            font-size: 7rem;
        }
    }
}

form#form_house {
    width: 60%;
    margin: auto;

    @media (max-width: $mobile-breakpoint) {
        width: 80%;
    }

    .inp-div {
        width: 100%;
        margin-bottom: 0.8vw;

        @media (max-width: $mobile-breakpoint) {
            margin-bottom: 2vw;
        }

        label {
            width: 100%;
            display: block;
            text-align: right;
            font-size: 1.5rem;

            @media (max-width: $mobile-breakpoint) {
                font-size: 5rem;
            }
        }

        input {
            width: 100%;
            height: 2.8vw;
            border-radius: 0.5vw;
            border: #8ac0d0 0.15vw solid;
            font-size: 1.4rem;

            @media (max-width: $mobile-breakpoint) {
                height: 10vw;
                border-radius: 3vw;
                font-size: 5rem;
            }
        }

        textarea {
            width: 100%;
            height: 6vw;
            border-radius: 0.5vw;
            border: #8ac0d0 0.15vw solid;
            font-size: 1.4rem;
            padding: 0.1vw;

            @media (max-width: $mobile-breakpoint) {
                height: 10vw;
                border-radius: 3vw;
                font-size: 5rem;
            }
        }
    }

    button {
        text-decoration: none;
        font-size: 2rem;
        text-align: center;
        display: block;
        margin-top: 1vw;
        background: #b6d5df;
        border-radius: 1vw;
        width: 15vw;
        height: 4vw;
        border: none;
        margin: auto;
        margin-top: 2vw;
        font-weight: 600;
        font-family: "rubik";
        cursor: pointer;

        @media (max-width: $mobile-breakpoint) {
            font-size: 7rem;
            margin-top: 1vw;
            border-radius: 5vw;
            width: 33vw;
            height: 12vw;
            margin-top: 5vw;
            font-weight: 600;
        }
    }
}
